{% extends 'base.html' %}
{% block body %}
    <input class="form-control mr-sm-2" id="search-id" type="text" placeholder="Search..">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="table-id">
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td><a href="{% url 'category-details' pk=category.pk %}">{{ category.category_name }}</a></td>
                    <td>{{ category.category_description }}</td>
                    <td>
                        <a id="edit-category" class="btn btn-info" href="{% url 'edit-category-page' pk=category.id %}">Edit
                            category</a>
                        <a id="delete-category" class="btn btn-danger"
                           href="{% url 'delete-category' pk=category.id %}">Delete
                            category</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}")
                {% endfor %}
            {% endif %}

            $("#search-id").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table-id tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}