{% extends 'base.html' %}
{% block body %}
    <input class="form-control mr-sm-2" id="search-id" type="text" placeholder="Search..">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="table-id">
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.category_name }}</td>
                    <td>{{ category.category_description }}</td>
                    <td>Place holder: here will be some actions</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $("#search-id").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table-id tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}