{% extends 'base.html' %}
{% block title %}
    You are editing "{{ category.category_name }}" category
{% endblock %}
{% block authorized_user_content %}
    <form method="post">
        {% csrf_token %}
        <div class="alignment">
              <div class="form-group">
                <label for="category-name">Category name</label>
                <input type="text" class="form-control" id="category-name" placeholder="Name of category"
                       name="category_name"
                       value="{{ category.category_name }}" required>
            </div>
            <div class="form-group">
                <label for="category-description">Category description</label>
                <input type="text" class="form-control" id="category-description" placeholder="Category description"
                       name="category_description"
                       value="{{ category.category_description }}">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </form>
{% endblock %}